  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
   }

    body{
        overflow-x: hidden;
         background-color: #f7f7f7;
        font-family: sans-serif;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .form1 input {
        width: 100%;
        max-width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .form1 {
        background-image: url(./image/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        max-width: 100%;
        height: auto;
        min-height: 300px;
        padding: 30px 15px;
        border-radius: 10px;
    }
    .button{
        color: black;
        font-size: 20px;
        font-weight: bold;
    }

    .form-group {
        text-align: center;
        padding: 1px 70px;

    }
        .flash {
        animation: flash 0.4s ease;
    }

    @keyframes flash {
        0% {
            transform: scale(1);
            opacity: 1;
        }

        50% {
            transform: scale(1.2);
            opacity: 0.6;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }